/* estilos header general*/
header {
  height: 80px;
  padding: 10px;
  background-color: rgba(130, 11, 11, 0.856);
  position: sticky;
  top: 0; }
  header .header__logo {
    font-family: 'Lobster', cursive;
    color: rgba(245, 245, 245, 0.876);
    font-size: 20px; }
  header .header__link {
    padding: 5px;
    display: inline-block;
    color: rgba(245, 245, 245, 0.876);
    text-decoration: none;
    font-family: fantasy; }

/*estilos main index*/
.mainindex {
  background-color: rgba(152, 59, 59, 0.856);
  height: 80%;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column; }
  .mainindex .mainindex__presentacion {
    height: 320px;
    padding-top: 20px;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center; }
    .mainindex .mainindex__presentacion .mainindex__presentacion__titulo {
      font-family: 'Lobster', cursive;
      font-size: 70px;
      color: antiquewhite; }
    .mainindex .mainindex__presentacion .mainindex__presentacion__informacion {
      text-align: center;
      padding-top: 50px;
      width: 500px;
      color: rgba(245, 245, 245, 0.876);
      font-size: 20px;
      font-family: Verdana, Geneva, Tahoma, sans-serif; }
  .mainindex .mainindex__paginas {
    display: grid;
    gap: 5rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat(auto-fill); }
    .mainindex .mainindex__paginas .mainindex__atajo {
      border: 2px solid white;
      border-radius: 5px;
      height: 400px;
      width: 400px;
      background-image: none;
      color: rgba(245, 245, 245, 0.876); }
      .mainindex .mainindex__paginas .mainindex__atajo .mainindex__img {
        padding: 10px;
        height: 80%;
        width: 90%;
        border-radius: 10px; }

  .footer {
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(130, 11, 11, 0.856);
    color: rgba(245, 245, 245, 0.876);
    text-decoration: none; }

  .footer__contacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  

.body__general {
  background-color: rgba(152, 59, 59, 0.856); }


  /* ----------------------------------------------- */

  .footer{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(130, 11, 11, 0.856) ;
    color: rgba(245, 245, 245, 0.876);
    text-decoration: none;
}

.footer__contacto{
    display: flex;
    flex-direction: column;
    
}

.footer__redes{
    display: flex;
    color: red;
    text-decoration: solid;
    flex-direction: column;

}

.footer__redes a {
    text-decoration: none;
    color: rgba(245, 245, 245, 0.876);
}


/* estilo pagina sobre nosotros */

/* estilos main sobre nosotros */

.mainsobrenosotros{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px  ;
   
}

.mainsobresonosotros__articulos {  
    height: 300px;
    padding: 10px;
    margin-top: 20px;
    text-align: center;
    color: rgba(245, 245, 245, 0.876);
    border: 2px solid white;
}

.mainsobresonosotros__articulos p {
    margin-top: 65px;
}

.seccionvideo{
   display: flex;
   justify-content: center;
   margin-top: 50px;
   margin-bottom: 50px;
}

/* estilos galeria */

.galeriadefotos{
    height: 2000px;
    display: grid;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 10px   ;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
}

.galeriadefotos__imagenes{

}

.galeriadefotos__imagenes img {
    height: 400px;
    width: 400px;
}

/* estilos contacto */

.contacto{
    display: flex;
    justify-content: center;
    
}



.contacto__redes{
    margin-top: 50px;
    height: 600px;
    width: 600px;
    font-size: 40px;
    padding: 20px;
    border: 2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
}

.contacto__redes h2{
    font-family: 'Lobster', cursive;
    color: rgba(245, 245, 245, 0.876);
}

.contacto__links a{
  text-decoration: none;
  color: azure;
}
