@import "../base/_variables.scss";
@import "../base/mixin";


/* estilos header general*/


header{
    height: 80px;
    padding: 10px;
   
    background-color: $color-nav ;
    position: sticky;
    top: 0;
    .header__logo{
        font-family: 'Lobster', cursive;
        color:$color-letras;
        font-size: 20px;     
      
       
    }
    .header__link{@include botones}
}

/*estilos main index*/

.mainindex{
    background-color: rgba(152, 59, 59, 0.856) ;
    height: 80%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    .mainindex__presentacion{
        height: 320px;
        padding-top: 20px;
        padding-bottom: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        .mainindex__presentacion__titulo{
            font-family: 'Lobster', cursive;
            font-size: 70px;
            color: antiquewhite;
        
        }
        .mainindex__presentacion__informacion{
            text-align: center;
            padding-top: 50px;
            width: 500px;
            color: rgba(245, 245, 245, 0.876);
            font-size: 20px;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
    }

    .mainindex__paginas{
        display: grid;
        gap: 5rem;
        grid-auto-rows: 22rem;
        grid-template-columns: repeat(auto-fill);
        .mainindex__atajo{
            border: 2px solid white;
            border-radius: 5px;
            height: 400px;
            width: 400px;
            background-image: none;
            color: rgba(245, 245, 245, 0.876);
            .mainindex__img{
                padding: 10px;
                height: 80%;
                width: 90%;
                border-radius: 10px;
            }
            
            
            
            
            }

        }

        
      
        
}

.footer{
    height: 120px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(130, 11, 11, 0.856) ;
    color: rgba(245, 245, 245, 0.876);
    text-decoration: none;
}


